body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  
.main {
    background-color: #e9e9e9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}


.boardTable td {
    border-width: 5px;
    border-style: solid;
    // border-color: white;
    border-image: repeating-linear-gradient(45deg, #7360df, #8676e0, #7360df 50px) 30;
    // border-image-repeat: repeat;
    margin: 0;
    width: max(2em, 50px);
    height: max(2em, 50px);
    box-shadow: inset 0.2em 0.2em 0.4em rgb(175, 175, 175);
    padding: 0;

}

.boardTable {
    border-width: 5px;
    border-style: solid;
    border-image: repeating-linear-gradient(45deg, #7360df, #8676e0, #7360df 50px) 30;
    border-spacing: 0;
    text-align: center;
    box-shadow: 0.2em 0.2em 0.4em rgb(175, 175, 175);
}
  